
.wrapper{
}
.opp-box-wrapper{
    background-color: #f7f7f7;
    padding: 5em;
}

.filter-opp-wrapper{
}

.full-filter-wrapper{
    display:inline-block;
    position: fixed;
}
.add-box-wrapper{
    display: inline-block;
    margin-left: 20vw;
}