
.wrapper{
}
.opp-box-wrapper{
    background-color: #f7f7f7;
    padding: 5em;
    border-top: 1vh;
    border-top-color: rgba(133, 199, 255, 0.3);
    border-top-style: solid;
}

.filter-opp-wrapper{
    padding-top: 5vh;
}

.full-filter-wrapper{
    display:inline-block;
    position: fixed;
}
.add-box-wrapper{
    margin-left: 20vw;
}

@media screen and (max-width: 700px){

   .opp-box-wrapper{
       padding: 0em;
   }
    }