.home-wrapper{
    margin-left: 3em;
    margin-right: 3em;

}

.hero-wrapper{
    display: flex;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;

}

.hero-box{
padding-left: 3em;
padding-top: 8em;

}

.hero-title{
  height: 130px;
  font-family: Overpass;
  font-size: 3.1vw;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #000000;


}

.hero-sub{
  font-size: 1.2vw;
  font-weight: 300;
  color: #000000;
  margin-top: 2em;

}

.hero-buttons{
    margin-top: 4em;

    
}

.hero-button{
    width:11vw;
    height: 5vh;
    background-color: black;
    outline:none;
    border: 0px;
    margin-right: 2em;
    color: white;

    font-weight: black;
    font-weight: 900;
    font-size: 1vw;
    border-style: hidden;
}

.hero-button:hover{
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 3px;

}

.img-grid{
    display: grid;
    grid-template-columns: [firstC] 16% [secondC] 16% [thirdC] 16% [fourthC] 16% [fifthC] 16% [sixthC] 16%;
    grid-template-rows: [firstR] 16% [secondR] 16% [thirdR] 16% [fourthR] 16% [fifthR] 16% [sixthR] 16%;
    grid-gap: 10px 5px;
}

.img-hero{
}

#amel{
    width: 22vw;
    z-index: 3;
    grid-column-start: thirdC;
    grid-column-end: fourthC;
    grid-row-start: secondR;
    grid-row-end: fifthR;
   

}

#carmen{
    width: 16vw;
    grid-column-start: firstC;
    grid-column-end: secondC;
    grid-row-start: fourthR;
    grid-row-end: sixthR;
    opacity: 0.8;
    

    
}



#shirt{
    width: 12vw;
    z-index: 2;
    grid-column-start: fifthC;
    grid-column-end: sixthC;
    grid-row-start: firstR;
    grid-row-end: secondR;
    background-color: rgba(216, 216, 216, 0.3);
    opacity: 0.8;


}

.description{
    background-color: #ffd692;
    padding: 3em;
    margin-top: 2.5vh;


}

.description-title{
  font-family: Overpass;
  font-size: 30px;
  font-weight: 800;
  color: #543500;
}

.description-text{
    font-family: Overpass;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: #543500;
}

.frame{
    width: 50%;
    height: 40em;

}