.FormContainer{
    justify-self: center;
    padding-bottom: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;



}


.OppText{
    font-weight: 800;

    font-size: 18px;
}

.FormInput{
    border: 0px;
    font-size: 20px;
    color: #8e8e8e;
    outline:none;
    }


.FormButton{
    border: 0px;
    color: #1493ff;
    font-size: 20px;


}

.FormButton:focus {
    color: #105FA1;
    outline:0;
}

.FormButton:hover {
    color: #105FA1;
    outline:0;
}

@media screen and (max-width: 500px){

   .FormContainer{
       padding-top: 3em;
   }
        
    }