.filter-button{
    width: 2.9vw;
    height: 3.8vh;
    border-radius: 6px;
    background-color: #f7f7f7;
    outline:none;
    border: 0px;
    margin-right: 0.2em;
    font-weight: bold;

}

.button-clicked{
    width: 2.9vw;
    height: 3.8vh;
    border-radius: 6px;
    background-color: black;
    outline:none;
    border: 0px;
    margin-right: 0.2em;
    color: white;
    font-weight: bold;



}
.filter-wrapper{
    padding-left: 3vw;

}
.header{
    font-size: 33px;
    font-weight: 800;
    border-bottom-style: solid;
    border-width: 2px;
    margin-bottom: 2em;
    display: inline;
}

.title{
    font-size: 26px;
    font-weight: 800;
    margin-top: 2em;
    margin-bottom: 1em;

}

.tag-grid{
    display: grid;
    grid-template-columns: [firstC] 25% [secondC] 25% [thirdC] 25% [fourthC] 25% ;
    grid-template-rows: [firstR] 25% [secondR] 25% [thirdR] 25% [fourthR] 25% ;
    grid-gap: 20px 20px;
}

.stem{
    grid-area: firstC / firstC / firstR / firstR;
}

.stemButton{
    grid-area: thirdC / thirdC / firstR / firstR;

}

.lowIncome{
    grid-area: firstC / firstC / secondR / secondR;

}

.lowIncomeButton{
    grid-area: thirdC / thirdC / secondR / secondR;
}

.diversity{
    grid-area: firstC / firstC / thirdR / thirdR;

}

.diversityButton{
    grid-area: thirdC / thirdC / thirdR / thirdR;
}

.service{
    grid-area: firstC / firstC / fourthR / fourthR;

}

.serviceButton{
    grid-area: thirdC / thirdC / fourthR / fourthR;
}

.tag-text{
    font-size: 18px;
}




#tag{
    margin-bottom: 2em;
}

/*This MQ is to hide filters at 700px */
@media screen and (max-width: 700px){

.full-filter-wrapper{
    display: none;
}

.add-box-wrapper{
    margin-left: 0; 
}
    
}