.logo{
    width: 9m;
    height: 2.5em;
    float: left;
    padding-left: 2vw;

}

.Navbar{
    padding-top: 2.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    position: sticky;
    top: 0;
    background-color: white;
}

#nav {
    width: 100%;
    padding: 0;
    list-style: none; 
    background-color:white;

}

#nav li {
    float: right; 
}

    #nav li a {
            display: block;
            padding: 8px 1.5vw;
            text-decoration: none;
            font-weight: 800;
            font-size: 18px;
            color: black;
    }

    .menu{
        display: none;

    }

    .mobile-grid{
    }

    .menu-off{
        display: none;
    }

    .x-off{
        display: none;
    }


    


@media screen and (max-width: 650px){

    .mobile-grid{
        display: grid;
        grid-template-columns: [firstC] 33% [secondC] 33% [thirdC] 33% ;
        grid-template-rows: [firstR] 100%;

    }
    #nav{
        display: none;
    }

    .logo{
        grid-area: firstC / firstC / firstR / firstR;

    }


    .menu{
        display: block;
        grid-area: thirdC / thirdC / firstR / firstR;
        justify-self: right;

    }

    
}