
.wrapper-404{
    margin-top: 10em;
    margin-bottom: 10em;
    margin-left: 5em;
    margin-right: 5em;

}

.title-404{
    font-size: 48px;
    font-weight: 900;
}

.sub-404{
    font-size: 18px;

}